.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
		height: 300px;
		z-index: 0;
		position: absolute;
		opacity: 10%;
	}
}

.reactLogo {
	display: flex;
	justify-content: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.restart {
	width: 70px;
	font-size: 15px;
	padding: 2px;
	border-radius: 10px;
}

.restartDiv {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.bodyDiv {
	padding-bottom: 500px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(0, 10, 14) 10%,
		rgb(0, 24, 30) 80%,
		rgb(0, 35, 41) 100%
	);
	color: white;
	width: 100%;
}

.mainBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.title {
	font-size: 50px;
	font-weight: 300;
	z-index: 20;
	position: relative;
	padding-top: 64px;
	color: white;
}

.titleDiv {
	margin-bottom: 600px;
	margin-top: 0;
	padding-top: 200px;
}

.sectionDiv {
	margin-top: 50px;
	text-align: left;
	border: 2px solid rgb(135, 135, 135);
	border-radius: 10px;
	width: 90%;
}

.SectionTitle {
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
	padding-top: 6px;
	padding-left: 4px;
	color: #b5b3b3;
	margin-top: 100px;
}

/* --------------------- BUTTON STYLES -------------------- 

.buttonLayout {
	display: flex;
	flex-wrap: wrap;
}

.buttonSelf {
	margin: auto;
}

.btn {
	border: none;
	border-radius: 4px;
	padding: 0.5 1em;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-default {
	background-color: #e0e0e0;
	color: #000;
}

.btn-primary {
	background-color: #007bff;
	color: #fff;
}

.btn-secondary {
	background-color: #6c757d;
	color: #fff;
}

.btn-danger {
	background-color: #dc3545;
	color: #fff;
}

.btn-small {
	padding: 0.2em 0.5em;
}

.btn-medium {
	padding: 0.5em 1em;
}

.btn-large {
	padding: 0.75em 1.5em;
}

.btn:hover {
	opacity: 0.8;
}
*/

/* --------------------- INPUT FIELD STYLES -------------------- */
/*****/
/*****/
/*****/
/*****/
/*****/

/* --------------------- CHECKBOX STYLES -------------------- 

.checkboxLabel {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
}

.hidden-checkbox {
	display: none;
}

.checkbox {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid #007bff;
	border-radius: 4px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

.checkbox.checked {
	background-color: #007bff;
}

.checkbox::after {
	content: "";
	width: 10px;
	height: 10px;
	display: none;
}

.checkbox.checked::after {
	display: block;
	background-color: white;
	border-radius: 2px;
}
*/

/* --------------------- SCATTER TEXT STYLES -------------------- */

.scatter-container {
	position: relative;
	width: 100%;
	height: 200px;
}
/*
.scatter-char {
	position: absolute;
	transition: all 1s ease-in-out;
	font-size: 14px;
	white-space: pre;
}
*/

.display-text {
	height: 200px;
}

/* --------------------- Dropdown Selection-------------------- 
.select-dropdown {
	width: 150px;
	margin: 10px 0;
}

.select-dropdown select {
	width: 100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #fff;
	font-size: 16px;
}

.select-dropdown select:focus {
	border-color: #00bbff;
	outline: none;
}

.select-dropdown select option {
	padding: 10px;
}

*/

/* --------------------- Modal Menu -------------------- 

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background: white;
	border-radius: 5px;
	width: 500px;
	max-width: 80%;
	padding: 0 20px 20px 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 10px;
	margin-bottom: 20px;
}

.close-button {
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.modal-content {
	margin-bottom: 20px;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
}

.modal-button {
	background: #007bff;
	color: white;
	border: none;
	padding: 10px 6px;
	border-radius: 5px;
	cursor: pointer;
}

.modal-button:hover {
	background: #0056b3;
}

.open-modal-button {
	background: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.open-modal-button:hover {
	background: #0056b3;
}

.width {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin-bottom: 300px;
}
*/

/* --------------------- Tabs -------------------- */

.tabs-container {
	width: 100%;
}

.tabs {
	display: flex;
	background: linear-gradient(180deg, #747474, #444444);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.tab-button {
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	font-size: 16px;
	margin-bottom: 2px;
}

.tab-button:hover {
	font-weight: bold;
}

.tab-button.active {
	border-bottom: 2px solid #ffffff;
	font-weight: bold;
}

.tab-content {
	color: white;
	border-radius: 5px;
	border: none;
	max-width: 100%;
	height: 300px;
	min-height: 300px;
	overflow: scroll;
	overscroll-behavior-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: 10px;
}

.tab-content::-webkit-scrollbar {
	display: none;
}

.tab-panel {
	height: 100%;
	min-height: 300px;
	background: #061626;
}
/* --------------------- Live Editor -------------------- */

.react-live-preview {
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
}

.react-live-error {
	color: red;
	padding: 10px;
	background-color: #ffeeee;
}

.livePreview {
	background: linear-gradient(360deg, #ffffff, #bababa);
	min-height: 100px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 10px;
	padding-top: 30px;
	color: black;
}
