.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
		height: 300px;
		z-index: 0;
		position: absolute;
		opacity: 10%;
	}
}

.reactLogo {
	display: flex;
	justify-content: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.button {
	width: auto;
	font-size: 15px;
	padding: 4px;
	border-radius: 10px;
}

.restartDiv {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.bodyDiv {
	padding-bottom: 500px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(0, 10, 14) 10%,
		rgb(0, 24, 30) 80%,
		rgb(0, 35, 41) 100%
	);
	color: white;
	width: 100%;
}

.mainBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.title {
	font-size: 50px;
	font-weight: 300;
	z-index: 20;
	position: relative;
	padding-top: 64px;
	color: white;
}

.titleDiv {
	margin-bottom: 400px;
	margin-top: 0;
	padding-top: 100px;
}

.sectionDiv {
	text-align: left;
	border: 2px solid rgb(46, 68, 70);
	border-radius: 10px;
	width: 90%;
	margin-top: 40px;
}

.list {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	align-items: center;
}

.listItem {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 80px;
	position: relative;
	z-index: 10;
	font-weight: 100;
	width: 200px;
}

.listItem:hover {
	font-weight: 300;
	cursor: pointer;
}

.githubrepo {
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	padding: 2px;
	color: #a0a0a0;
	z-index: 10;
}

.githubrepo:hover {
	font-weight: 500;
	cursor: pointer;
	color: white;
}

.width {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin-bottom: 300px;
}

/* --------------------- BUTTON STYLES -------------------- 

.buttonLayout {
	display: flex;
	flex-wrap: wrap;
}

.buttonSelf {
	margin: auto;
}

.btn {
	border: none;
	border-radius: 4px;
	padding: 0.5 1em;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-default {
	background-color: #e0e0e0;
	color: #000;
}

.btn-primary {
	background-color: #007bff;
	color: #fff;
}

.btn-secondary {
	background-color: #6c757d;
	color: #fff;
}

.btn-danger {
	background-color: #dc3545;
	color: #fff;
}

.btn-small {
	padding: 0.2em 0.5em;
}

.btn-medium {
	padding: 0.5em 1em;
}

.btn-large {
	padding: 0.75em 1.5em;
}

.btn:hover {
	opacity: 0.8;
}
*/

/* --------------------- INPUT FIELD STYLES -------------------- */
/*****/
/*****/
/*****/
/*****/
/*****/

/* --------------------- CHECKBOX STYLES -------------------- 

.checkboxLabel {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
}

.hidden-checkbox {
	display: none;
}

.checkbox {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid #007bff;
	border-radius: 4px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

.checkbox.checked {
	background-color: #007bff;
}

.checkbox::after {
	content: "";
	width: 10px;
	height: 10px;
	display: none;
}

.checkbox.checked::after {
	display: block;
	background-color: white;
	border-radius: 2px;
}
*/

/* --------------------- SCATTER TEXT STYLES -------------------- */

.scatter-container {
	position: relative;
	width: 100%;
	height: 200px;
}
/*
.scatter-char {
	position: absolute;
	transition: all 1s ease-in-out;
	font-size: 14px;
	white-space: pre;
}
*/

.display-text {
	height: 200px;
}

/* --------------------- Dropdown Selection-------------------- 
.select-dropdown {
	width: 150px;
	margin: 10px 0;
}

.select-dropdown select {
	width: 100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #fff;
	font-size: 16px;
}

.select-dropdown select:focus {
	border-color: #00bbff;
	outline: none;
}

.select-dropdown select option {
	padding: 10px;
}

*/

/* --------------------- Modal Menu -------------------- 

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background: white;
	border-radius: 5px;
	width: 500px;
	max-width: 80%;
	padding: 0 20px 20px 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 10px;
	margin-bottom: 20px;
}

.close-button {
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.modal-content {
	margin-bottom: 20px;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
}

.modal-button {
	background: #007bff;
	color: white;
	border: none;
	padding: 10px 6px;
	border-radius: 5px;
	cursor: pointer;
}

.modal-button:hover {
	background: #0056b3;
}

.open-modal-button {
	background: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.open-modal-button:hover {
	background: #0056b3;
}


*/

/* --------------------- Tabs -------------------- */

.tabs-container {
	width: 100%;
}

.tabs {
	display: flex;
	background: linear-gradient(180deg, rgb(0, 36, 45), rgb(0, 52, 61));
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.tab-button {
	color: #ffffff;
	padding: 10px 20px;
	cursor: pointer;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	font-size: 16px;
	margin-bottom: 2px;
	width: 70px;
}

.tab-button:hover {
	font-weight: bold;
}

.tab-button.active {
	border-bottom: 2px solid #ffffff;
	font-weight: bold;
}

.tab-content {
	color: white;
	border-radius: 5px;
	border: none;
	width: 100%;
	height: 400px;
	min-height: 300px;
	overflow: scroll;
	overscroll-behavior-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: 10px;
}

.tab-content::-webkit-scrollbar {
	display: none;
}

.tab-panel {
	height: 100%;
	min-height: 300px;
	background: #1f262d;
	width: 100%;
}
/* --------------------- Live Editor -------------------- */

.react-live-preview {
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
}

.react-live-error {
	color: red;
	padding: 10px;
	background-color: #ffeeee;
}

.livePreview {
	background: #101c20;
	min-height: 100px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 10px;
	padding-top: 30px;
	color: white;
	border-top: 1px solid white;
}

.live-error {
	background: #4f3d3d;
	padding: 10px;
	margin-top: -30px;
	margin-bottom: 0;
	color: rgb(255, 122, 122);
	font-weight: 900;
	margin-left: -10px;
	margin-right: -10px;
}

.css-text-area {
	width: 100%;
	height: 100%;
	min-height: 250px;
	font-family: monospace;
	resize: none;
	border: none;
	background: #101c20;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

/* --------------------- Accordion -------------------- */
/*
.accordion {
	width: 300px;
	border-radius: 10px;
}

.accordion-item {
	border-bottom: 1px solid #ddd;
	border-radius: 10px;
}

.accordion-item:last-child {
	border-bottom: none;
}

.accordion-header {
	padding: 1em;
	cursor: pointer;
	background-color: #f7f7f7;
	border-radius: 10px;
}

.accordion-content {
	padding: 1em;
	border-top: 1px solid #ddd;
	background-color: #cccccc;
	border-radius: 10px;
	height: 100px;
}
*/

/* --------------------- Spinner -------------------- */
/*
.spinner-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	backdrop-filter: blur(10px);
}

.spinner {
	border-top: 16px dotted #008686;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.5s linear infinite;
}

.content.blur {
	filter: blur(5px);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
*/

/* --------------------- Spinner -------------------- */
/*
.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tooltipButton {
	width: 200px;
	font-size: 15px;
	padding: 2px;
	border-radius: 10px;
}
*/

/* --------------------- Data Table -------------------- */
/*
.table-container {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
}

.filter-input {
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px;
}

table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

th {
	cursor: pointer;
	background-color: #f2f2f2;
	color: #000;
}

th:hover {
	background-color: #ddd;
}

.pagination-buttons {
	margin-top: 10px;
	text-align: center;
}

.pagination-buttons button {
	margin: 0 5px;
	padding: 8px 12px;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	cursor: pointer;
	border-radius: 10px;
}

.pagination-buttons button:disabled {
	background-color: #747474;
	cursor: pointer;
}
*/

/* --------------------- Form -------------------- */
/*
.custom-form .form-group {
	margin-bottom: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.custom-form .label {
	display: block;
	margin-bottom: 5px;
}

.custom-form .required {
	color: red;
}

.custom-form input,
.custom-form textarea {
	padding: 8px;
	box-sizing: border-box;
	max-width: 400px;
}

.custom-form .input-error {
	border: 2px solid red;
}

.custom-form .tooltip {
	position: absolute;
	top: -25px;
	left: 0;
	background-color: #ffdddd;
	color: red;
	padding: 5px;
	border: 1px solid red;
	border-radius: 3px;
	font-size: 12px;
	white-space: nowrap;
	z-index: 10;
}

.custom-form button {
	padding: 10px 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.custom-form button:hover {
	background-color: #0056b3;
}

.custom-form {
	max-width: 400px;
}
*/

/* --------------------- Toast -------------------- */
/*
.toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 9999;
}

.toast {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	background-color: #333;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	animation: slide-in 0.5s ease;
}

.toast.success {
	background-color: #4caf50;
}

.toast.error {
	background-color: #f44336;
}

.toast .close-button {
	background: none;
	border: none;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
*/

/* --------------------- Toast -------------------- */

.sliding-menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sliding-menu {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	justify-content: center;
}

.options-wrapper {
	display: flex;
	overflow-x: hidden;
}

.options-list {
	display: flex;
	transition: transform 0.5s ease;
	margin-right: 5px;
	margin-left: 5px;
	overflow-x: scroll;
	padding-left: 5px;
}

.option {
	flex: 0 0 100px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #00fff2;
	transition: transform 0.3s ease;
	color: white;
	border-radius: 10px;
}

.option.selected {
	transform: scale(1.1);
	background-color: #007973;
	border-radius: 10px;
}

.nav-button {
	background: none;
	border-radius: 50%;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	margin: 2px;
	width: 50px;
}

.content {
	text-align: center;
	margin-top: 20px;
}

/* --------------------- Sliding Menu  -------------------- */

.slidingMenu {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content-toggle-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
}

.buttons-container {
	display: flex;
	overflow-x: auto;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.toggle-button {
	flex: 0 0 auto;
	margin: 0 10px;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color 0.3s;
	background: none;
	border: 1px solid #00fff2;
	color: white;
	border-radius: 10px;
	font-weight: 900;
}

.toggle-button.active {
	background-color: #007973; /* Background color for the active button */
	color: white; /* Text color for the active button */
}

.content-container {
	margin-top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	height: 600px;
}
